/**
 * Arquivo: Folha de estilo referente a página(view) de login
 */

/* Importação da Fonte*/
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

.internal-container {
	padding: 0;
	margin: 0;
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

#box-login .mini-box {
	padding: 15px;
	
	background: #339966;
	box-shadow: 1px 1px 2px #999;
	color: #fff;
}
#box-cadastro .mini-box {
	padding: 15px;
	
	background: #339966;
	box-shadow: 1px 1px 2px #999;
	color: #fff;
}

#box-login .mini-box:last-child {
	padding: 10px;
	margin: 10px auto 0;
	background: #339966;
	box-shadow: 1px 1px 2px #999;
	color: #fff;
}

#box-cadastro .mini-box:last-child {
	padding: 10px;
	margin: 10px auto 0;
	background: #339966;
	box-shadow: 1px 1px 2px #999;
	color: #fff;
}

.box-mark {
	position: relative;
	vertical-align: center;
	padding: 5% 0;
}
.box-mark img {
	margin: 0 auto;
}